.checkboxInput {
  display: flex;
  align-items: center; /* Выравниваем по верхнему краю для многострочного текста */
  gap: 10px; /* Отступ между чекбоксом и текстом */
  position: relative;
  cursor: pointer;
}

.checkboxInput.right {
  flex-direction: row-reverse; /* Если чекбокс справа, меняем направление */
}

.checkboxHidden {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.checkboxContent {
  display: flex;
  align-items: flex-start;
  border-radius: 12px;
  transition: background-color 0.3s;
  flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
  white-space: normal; /* Разрешаем перенос текста */
  word-wrap: break-word; /* Разрываем текст на слова, если он слишком длинный */
  overflow: visible; /* Убираем ограничения видимости */
}

@media (max-width: 768px) {
  .checkboxContent p {
    font-size: 14px;
    line-height: 17.5px;
  }
}

.customCheckbox {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  position: relative;
  flex-shrink: 0; /* Чекбокс остается фиксированного размера */
}

/* Позиция чекбокса */
.checkboxInput.left .customCheckbox {
  order: -1;
}

.checkboxInput.right .customCheckbox {
  order: 1;
}

/* Фон и галочка при выборе */
.checkboxHidden:checked ~ .customCheckbox {
  background-color: var(--main-color);
  border: none;
}

.customCheckbox::after {
  content: '';
  position: absolute;
  display: none;
  width: 8px;
  height: 11px;
  top: 5px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Отображаем галочку при выборе */
.checkboxHidden:checked ~ .customCheckbox::after {
  display: block;
}

/* Стили для отображения ошибки */
.checkboxError .customCheckbox {
  border-color: red;
}
